.feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2% 4% 2% 1%;
}

::placeholder {
  color: #f1f1f1;
}

.feedback label {
  flex: 0 0 30%;
  margin-right: 10px;
  font-weight: bold;
  color: #27374D;
}

.feedback input[type="text"],
.feedback input[type="number"] {
  flex: 0 0 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #27374D;
  color: #fff;
}

.feedback input[type="submit"] {
  background-color: #27374D;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback input[type="submit"]:hover {
  background-color: #27374D;
}

@media screen and (max-width: 820px) {
  .feedback label {
    max-width: 30%;
  }
  .feedback input[type="text"],
  .feedback input[type="number"] {
    max-width: 70%;
  }
}

@media screen and (max-width: 420px) {
  .feedback {
    justify-content: start;
  }
  .feedback label {
    flex: 0 0 100%;
    max-width: 95%;
    margin-right: 0;
  }
  .feedback input[type="text"],
  .feedback input[type="number"] {
    flex:0 0 100%;
    max-width: 95%;
  }
}
